<div class="coin">
  <div class="coin-img">
    <img src="{{imageUrl}}" />
  </div>
  <div class="coin-info">
    <h1>{{name}}</h1>
    <p><span>Type: </span>{{type}}</p>
    <p><span>Price: </span>{{price}}</p>
    <p><span>Condition: </span>{{condition}}</p>
  </div>

  <a href="/bicycles/{{_id}}/details" class="btn-details">Details</a>
</div>