<main>
        <section class="crypto-market">
            <h1><span>{{h1}}</span> Trade</h1>
            {{#if bicycles}}
            <div class="offer-list">
                {{#each bicycles}}
                  {{> bicycleCard}}
                {{/each}}
            </div>
            {{else}}
            <div class="no-offer">
                <p>There are no bicycles offers found!</p>
            </div>
            {{/if}}
        </section>

        <div class="author">
            {{#if isNotFirstPage}}
                <a href="/catalog/previous?page={{page}}&limit=4" class="btn-edit">Previous</a>
            {{/if}}
                <p>{{page}}/{{lastPage}}</p>
            {{#if isNotLastPage}}    
                <a href="/catalog/next?page={{page}}&limit=4" class="btn-delete">Next</a>
            {{/if}}
        </div>
</main>